.page.theme_dark {
    --background: url('../images/cover-image-dark.png');
    --background-color: var(--dark);
    --highlight: var(--bright);
    --heading-color: var(--brightest);
    --highlighted-area: var(--bright);
    --text-color-highlight: var(--bright);
    --article-header-color: var(--bright);
    --text-color-main: var(--light);
    --text-color-transparent: var(--dark);
    --text-button: var(--bright);
    --shadow: var(--bright);
    --corner-color: var(--bright);
    --border-style: var(--bright);
    --border-style__hover: var(--hover);
    --rec-display: block;
    --rec-visibility: visible;
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark: #000028;
        --dusk: #353430;
        --light: #F1B2CE;
        --hover: #FF007066;
        --bright: #FF0070;
        --brightest: #DB00FF;
        --line-height: 1.463rem;
        --line-height-titles: 25px;
        --font-weight-bold: 700;
        --font-weight-normal: 400;
        --font-size: 18px;
        --font-family: 'IBM Plex Mono', system-ui, -apple-system, monospace, sans-serif;
        --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        --padding-desktop: 20px;
        --padding-mobile: 10px;
        --letter-spacing-condensed: -0.1rem;
        --letter-spacing-small: 0.052rem;
        --letter-spacing-smallest: 0.0005em;
        --letter-spacing-medium: 0.1rem;
        --letter-spacing-large: 0.2rem;
        --letter-spacing-focus: 0.3rem;
        --rec-display: none;
        --rec-visibility: hidden;
    }
}



