@media (width >= 1024px) {
    .two-column {
        max-width: 314px;
    }
    .articles {
        justify-content: space-between;
    }
}

@media (width > 768px) {
    .one-column {
        max-width: 648px;
    }
    .article {
        flex-direction: column;
    }
}

@media (376px < width <= 768px) {
    .one-column {
        max-width: 376px;
    }
}